body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

nav a.active{
  border-bottom: 0px solid #333;
  transition: all ease 0.5s;
}

.container{
  margin-top: 20px;
}

.home .post img{
  position: absolute;
  top: 20px;
  left: -100px;
  opacity: 0.6;
}

.home .post{
  overflow: hidden;
  padding-left: 80px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#cool{
  color:blue
}
#boil{
  color:red
}

#btn{
  margin-top:20px;
}
.FancyBorder {
  padding: 10px 10px;
  border: 10px solid;
}

.FancyBorder-blue {
  border-color: blue;
}

.Dialog-title {
  margin: 0;
  font-family: sans-serif;
}

.Dialog-message {
  font-size: larger;
}